:root {
  /************************** COULEURS ***************************************/

  --color-orange: #f6932f;
  --color-orangefonce: #ff5c00;
  --color-rose: #f3195b;
  --color-rouge: #af362f;
  --color-verteau: #33cccc;
  --color-bleuocean: #88f4fb;
  --color-bleuclair: #a6dcdc;
  --color-vertflash: #25f8c0;
  --color-rougepale: #d0afad;
  --color-orangepale: #ffd2a4;
  --color-gris: #e7e7e7;
  --color-grisfonce: #808080;
  --color-blanc: #ffffff;
  --color-noir: #000000;

  /************** border radius ***********************/

  --border-radius-sm: 20px;
  --border-radius-m: 50px;
  --border-radius-L: 50% 50%;

  /************************ shadow *************************/

  --shadow-z1: 0px 4px 10px rgba(0, 0, 0, 0.25);
  --shadow-z2: 0px 20px 10px rgba(0, 0, 0, 0.25);

  /**************************** font-size ********************/
  --font-size-14: 14px;
  --font-size-18: 18px;
  --font-size-24: 24px;
  --font-style-normal: 400;
  --font-style-medieum: 600;
  --font-style-bold: 700;

  /****************** Spaces************/

  --spaces-xs: 10px;
  --space-sm: 20px;
  --space-md: 32px;
  --space-l: 40px;
  --space-xl: 60px;
  --space-xxl: 80px;
}
.spacexxl {
  font-weight: bold;
  font-size: var(--font-size-18);
  color: var(--color-grisfonce);
}
.spacexl {
  font-weight: bold;
  font-size: var(--font-size-18);
  color: var(--color-grisfonce);
}
.spacel {
  font-weight: bold;
  font-size: var(--font-size-18);
  color: var(--color-grisfonce);
}
.spacem {
  font-weight: bold;
  font-size: var(--font-size-18);
  color: var(--color-verteau);
}
.spaces {
  font-weight: bold;
  font-size: var(--font-size-18);
  color: var(--color-verteau);
}
.spacexs {
  font-weight: bold;
  font-size: var(--font-size-18);
  color: var(--color-verteau);
}

/**************** Texte ********/
.textexs {
  font-weight: bold;
  font-size: var(--font-size-14);
  color: var(--color-noir);
}

.texts {
  font-weight: normal;
  font-size: var(--font-size-18);
  color: var(--color-noir);
}
.textem {
  font-weight: bold;
  font-size: var(--font-size-18);
  color: var(--color-noir);
}
.textel {
  font-weight: bold;
  font-size: var(--font-size-24);
  color: var(--color-noir);
}

.orange {
  background-color: var(--color-orange);
}

.orangefonce {
  background-color: var(--color-orangefonce);
}
.rose {
  background-color: var(--color-rose);
}
.rouge {
  background-color: var(--color-rouge);
}
.gris {
  background-color: var(--color-gris);
}
.rougepale {
  background-color: var(--color-rougepale);
}
.orangepale {
  background-color: var(--color-orangepale);
}
.grisfonce {
  background-color: var(--color-grisfonce);
}
.blanc {
  background-color: var(--color-blanc);
}
.noir {
  background-color: var(--color-noir);
}
.verteau {
  background-color: var(--color-verteau);
}
.bleuocean {
  background-color: var(--color-bleuocean);
}
.bleuclair {
  background-color: var(--color-bleuclair);
}

.border {
  border: 1px solid var(--color-grisfonce);
}

p {
  padding-bottom: 3px;
  padding-top: 0px;
  padding-left: 8px;
}
.stwaches {
  width: 3rem;
  height: 3rem;
  border-radius: 50% 50%;
}

/* FONT TYPE : family et size*/

@font-face {
  font-family: "Monserrat";
  src: url(https://fonts.google.com/specimen/Montserrat);
}

html {
  font-family: Montserrat;
}

h2 {
  color: var(--color-rouge);
  padding: 20px 0px 20px 0px;
  font-size: 30px;
  font-style: var(--font-style-medieum);
  font-family: montserrat;
}
h1 {
  color: var(--color-grisfonce);
  font-size: 50px;
  margin-left: 400px;
}

.etat1 {
  padding-bottom: 70px;
}
/***********sections**********************/
.couleurs {
  padding: 20px 20px 50px 60px;
}
.typographie {
  padding: 20px 20px 50px 60px;
}

.espacement {
  padding: 20px 20px 50px 60px;
}

.ombres {
  padding: 20px 20px 50px 60px;
}
.bouton {
  padding: 20px 20px 50px 60px;
}

.organisme {
  padding: 20px 20px 50px 60px;
}

.shadowdefault {
  box-shadow: var(--shadow-z1);
}

.shadowactivehover {
  box-shadow: var(--shadow-z2);
}
.box {
  display: flex;
}
/* BUTTONS*/

/**************bouton primaire*********************/

.btn-primary {
  background: var(--color-orange);
  color: var(--color-blanc);
  width: 150px;
  height: 150px;
  box-shadow: var(--shadow-z1);
  border-radius: var(--border-radius-sm);
  font-weight: bold;
  font-size: var(--font-size-14);
  line-height: 1.2;
  margin: 5px 5px;
}

.btn-primary2 {
  background: var(--color-gris);
  color: var(--color-black);
  width: 150px;
  height: 150px;
  box-shadow: var(--shadow-z1);
  border-radius: var(--border-radius-sm);
  font-weight: bold;
  font-size: var(--font-size-14);
  line-height: 1.2;
  margin: 5px 5px;
}

.btn-primary:hover {
  background-color: var(--color-orangefonce);
  box-shadow: var(--shadow-z2);
}
.btn-primary:active {
  background-color: var(--color-orangepale);
  box-shadow: var(--shadow-z2);
}
.btn-primary:focus {
  border-color: var(--color-rose);
}
.btn-primary:disabled {
  background-color: var(--color-grisfonce);
  color: (var(--color-noir));
  box-shadow: var(--shadow-z1);
}

.btn-primary2:hover {
  background-color: var(--color-bleuocean);
  color: var(--color-blanc);
  box-shadow: var(--shadow-z2);
}
.btn-primary2:active {
  background-color: var(--color-bleuclair);
  box-shadow: var(--shadow-z2);
}
.btn-primary2:focus {
  border-color: var(--color-rose);
}
.btn-primary2:disabled {
  background-color: var(--color-grisfonce);
  color: (var(--color-noir));
  box-shadow: var(--shadow-z1);
}

/*************** bouton circle ******************/

.btn-circle {
  border-radius: var(--border-radius-L);
  font-weight: bold;
  font-size: var(--font-size-14);
  line-height: 1.2;
  background: var(--color-rouge);
  color: var(--color-noir);
  width: 125px;
  height: 115px;
  box-shadow: var(--shadow-z1);
}

.btn-circle2 {
  border-radius: var(--border-radius-L);
  font-weight: bold;
  font-size: var(--font-size-14);
  line-height: 1.2;
  background: var(--color-blanc);
  color: var(--color-noir);
  width: 70px;
  height: 62px;
  box-shadow: var(--shadow-z1);
}

.btn-circle:hover {
  background-color: var(--color-rose);
  box-shadow: var(--shadow-z2);
  color: var(--color-blanc);
}

.btn-circle:active {
  background-color: var(--color-rougepale);
  box-shadow: var(--shadow-z2);
  color: var(--color-blanc);
}
.btn-circle:focus {
  border-color: var(--color-rose);
  color: var(--color-blanc);
}
.btn-circle:disabled {
  background-color: var(--color-grisfonce);
  color: (var(--color-noir));
  box-shadow: var(--shadow-z1);
}
.btn-circle2:hover {
  background-color: var(--color-bleuocean);
  box-shadow: var(--shadow-z2);
}

.btn-circle2:active {
  background-color: var(--color-bleuclair);
  box-shadow: var(--shadow-z2);
}
.btn-circle2:focus {
  border-color: var(--color-rose);
}
.btn-circle2:disabled {
  background-color: var(--color-grisfonce);
  color: (var(--color-noir));
  box-shadow: var(--shadow-z1);
}

/******************* bouton secondaire ****************/
.btn-secondary {
  border-radius: var(--border-radius-m);
  font-weight: bold;
  font-size: var(--font-size-14);
  line-height: 1.2;
  background: var(--color-verteau);
  color: var(--color-blanc);
  padding: 25px 70px;
  box-shadow: var(--shadow-z1);
  margin: 40px 20px;
  height: 50px;
}
.btn-secondary2 {
  border-radius: var(--border-radius-m);
  font-weight: bold;
  font-size: var(--font-size-14);
  line-height: 1.2;
  background: var(--color-gris);
  color: var(--color-noir);
  padding: 25px 70px;
  box-shadow: var(--shadow-z1);
  height: 50px;
}

.btn-secondary:hover {
  background-color: var(--color-bleuocean);
  box-shadow: var(--shadow-z2);
}

.btn-secondary:active {
  background-color: var(--color-bleuclair);
  box-shadow: var(--shadow-z2);
}
.btn-secondary:focus {
  border-color: var(--color-rose);
}
.btn:disabled {
  background-color: var(--color-grisfonce);
  color: (var(--color-noir));
  box-shadow: var(--shadow-z1);
}

.btn-secondary2:hover {
  background-color: var(--color-bleuocean);
  color: var(--color-blanc);
  box-shadow: var(--shadow-z2);
}

.btn-secondary2:active {
  background-color: var(--color-bleuclair);
  color: var(--color-blanc);
  box-shadow: var(--shadow-z2);
}
.btn-secondary2:focus {
  border-color: var(--color-rose);
  color: var(--color-blanc);
}
.btn-secondary2:disabled {
  background-color: var(--color-grisfonce);
  color: (var(--color-noir));
  box-shadow: var(--shadow-z1);
}

/******************* bouton tertiary *******************/
.btn-tertiary {
  border-radius: 20px;
  font-weight: bold;
  font-size: var(--font-size-14);
  line-height: 1.2;
  background: var(--color-orange);
  color: var(--color-blanc);
  padding: 20px 46px;
  box-shadow: var(--shadow-z1);
}

.btn-tertiary:hover {
  background-color: var(--color-orangefonce);
  box-shadow: var(--shadow-z2);
}

.btn-tertiary:active {
  background-color: var(--color-orangepale);
  box-shadow: var(--shadow-z2);
}

.btn-tertiary:focus {
  border-color: var(--color-rose);
}

.btn:disabled {
  background-color: var(--color-grisfonce);
  color: (var(--color-noir));
  box-shadow: var(--shadow-z1);
}

/******************* flexbox *******************/

.flex-container {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: column wrap;
}

.flex-container-ligne {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
